.settings-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
  
  .settings-container input,
  .settings-container button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .delete-account {
    background-color: #e96d5f; 
    color: #f2f4f8;
    padding: 10px;
    height: 50px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    text-shadow: none;
  }

  /* Avatar Settings */
  input[type="file"] {
    margin-top: 20px;
  }
  
  img {
    width: 100px; /* Example size */
    height: 100px;
    border-radius: 50%; /* Circular image */
    object-fit: cover;
    margin-top: 20px;
  }
  img {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%; /* Make it round */
    object-fit: cover; /* Ensure the image covers the area */
  }
  